.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.input {
    flex: 1;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    border: 3px solid black;
    border-right-color: transparent;
    outline: none;
    background-color: transparent;
    color: white;
}

.button {
    min-width: 5rem;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0 0.3rem 0.3rem 0;
}